<app-header></app-header>

<ion-content>

  <div style="height: 87%; text-align: center;">
    <ion-list>
      <ion-list-header>Items pedido</ion-list-header>
      <ion-item>
        <ion-label>
          <!-- <h3>{{item.product_name}}</h3>
          <p>{{item.product_description}}</p>
          <p>{{item.catalog_item_price | currency: 'BRL': true}}</p> -->
          <h3>Casquinha de Siri</h3>
          <p>Casquinha de Siri preparada com limão siciliano</p>
          <p>R$ 15,00</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div style="text-align: center;">
    <ion-item>
      <ion-title>Total R$ 150,50</ion-title>
    </ion-item>
    <ion-button size="small" fill="outline" shape="round">
      <ion-icon name="restaurant-outline"></ion-icon>Fazer Pedido
    </ion-button>
  </div>

</ion-content>