<app-header></app-header>
<ion-content>

  <div *ngIf="totalOrder === 0" style="text-align: center;">
    <ion-item>
      <ion-label style="text-align: center;">Seu pedido está vazio</ion-label>
    </ion-item>
    <ion-button size="small" fill="outline" shape="round" (click)="this.toolsService.goToPage('/customers-catalogs/')">
      <ion-icon name="book-outline"></ion-icon>Cardápio
    </ion-button>
  </div>
  <div *ngIf="totalOrder != 0" style="text-align: center;">
    <ion-item detail="false">
      <ion-label style="text-align: center;">Itens no seu pedido</ion-label>
      <ion-label *ngIf="hasCPF" style="text-align: center; font: smaller">CPF: {{customer_cpf}}</ion-label>
    </ion-item>
  </div>

  <div *ngIf="totalOrder != 0">
    <ion-grid style="width: 100%;">
      <ion-row [ngClass]="(i % 2 == 0) ? 'even' : 'odd'" *ngFor="let item of orderItems; let i = index;">
        <ion-col size="3">
          <ion-icon color="primary" size="smaller" name="remove-outline" (click)="downItem(item.order_item_name)"></ion-icon>
          <ion-text>&nbsp;{{item.item_quantity}}&nbsp;</ion-text>
          <ion-icon color="primary" size="smaller" name="add-outline" (click)="upItem(item.order_item_name)"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <ion-text>{{item.item_product_name}}</ion-text>
        </ion-col>
        <ion-col size="3">
          <ion-text style="font-size: small;">{{item.item_total_price | currency:"BRL":"symbol"}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  <div style="text-align: center;" *ngIf="totalOrder != 0">
    <ion-item style="text-align: center;">
      <ion-title>{{totalOrder | currency:"BRL":"symbol"}}</ion-title>
    </ion-item>
    <ion-item *ngIf="hasCreditCard" style="text-align: center; font-size: smaller;">
      <ion-text>{{card_number}}</ion-text>
      <ion-icon color="primary" size="smaller" name="reload-circle-outline" (click)="changeCreditCard()" slot="end"></ion-icon>
      <ion-icon color="danger" size="smaller" name="trash-outline" (click)="removeCreditCard()" slot="end"></ion-icon>
    </ion-item>
    <ion-button size="small" fill="outline" shape="round" (click)="this.toolsService.goToPage('/customers-catalogs/')">
      <ion-icon name="book-outline"></ion-icon>Cardápio
    </ion-button>
    <ion-button *ngIf="hasCreditCard" size="small" fill="outline" shape="round" (click)="registerOrder()">
      <ion-icon name="restaurant-outline"></ion-icon>Pagar
    </ion-button>
    <ion-button size="small" fill="outline" shape="round" (click)="addCreditCard()">
      <ion-icon name="card-outline"></ion-icon>Adicionar cartão
    </ion-button>
    <ion-button *ngIf="!hasCPF" size="small" fill="outline" shape="round" (click)="addCPF()">
      <ion-icon name="bookmark-outline"></ion-icon>Informar CPF
    </ion-button>
    <ion-button *ngIf="hasCPF" size="small" fill="outline" shape="round" (click)="clearCPF()">
      <ion-icon name="bookmark-outline"></ion-icon>Limpar CPF
    </ion-button>
  </div>

</ion-content>