.btnadd {
    color: green;
    border-top: solid 1px green;
    border-bottom: solid 1px green;
    border-right: solid 1px green;
    border-left: solid 1px green;
    text-align: center;
}

.colqty {
    color: black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    font-size: small;
    align-content: center;
}

.btnremove {
    color: red;
    border-top: solid 1px red;
    border-bottom: solid 1px red;
    border-left: solid 1px red;
    border-right: solid 1px red;
    text-align: center;
}