<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeItemDetails()">
        <ion-icon name="arrow-back-outline"></ion-icon>Voltar
      </ion-button>
    </ion-buttons>
    <ion-title>{{product_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="../../../assets/aguacoco.jpg">
    <ion-card-subtitle>{{item_price | currency:"BRL":"symbol"}}</ion-card-subtitle>
    <ion-card-content>{{catalog_note}}</ion-card-content>

    <ion-item>
      <ion-label position="floating">Observação</ion-label>
      <ion-input type="text" [(ngModel)]="customer_note"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-buttons>
        <ion-button size="small" fill="outline" shape="round" (click)="decraseItem()">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
        <ion-label> {{quantity}} </ion-label>
        <ion-button size="small" fill="outline" shape="round" (click)="incraseItem()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
        <ion-label>{{total_price | currency:"BRL":"symbol"}}</ion-label>
        <ion-button size="small" fill="outline" shape="round" (click)="registerItem()">
          <ion-icon name="checkmark-circle"></ion-icon>Confirmar
        </ion-button>
      </ion-buttons>
    </ion-item> -->

    <ion-grid style="width: 100%; table-layout: auto;text-align: center;">
      <ion-row>
        <ion-col size="12">
          <ion-text style="color: black; font-size: larger;">{{total_price | currency:"BRL":"symbol"}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="3">
          <ion-button size="small" fill="outline" shape="round" (click)="decraseItem()">-
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-text style="color: black; font-size: larger;" color="black"> {{quantity}} </ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-button size="small" fill="outline" shape="round" (click)="incraseItem()">+
          </ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button size="small" fill="outline" shape="round" (click)="registerItem()">
            <ion-icon name="checkmark-circle"></ion-icon>Confirmar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

</ion-content>