<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeItemDetails()">
        <ion-icon name="arrow-back-outline"></ion-icon>Voltar
      </ion-button>
    </ion-buttons>
    <ion-title>{{product_name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" class="ion-padding">
  <ion-card>
    <img [(src)]="product_picture" *ngIf="product_picture != ''">
    <img src="../../../../assets/aguacoco.jpg" *ngIf="product_picture == ''">
    <ion-card-header style="text-align: center;">
      <ion-card-subtitle>{{item_price | currency:"BRL":"symbol"}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>{{catalog_note}}</ion-card-content>
  </ion-card>
  <ion-grid style=" margin: 0; width: 100%; table-layout: auto;text-align: center;">
    <ion-row style="text-align: start;">
      <ion-col size="12">
        <ion-label>Observação</ion-label>
        <ion-input maxlength="100" type="text" [(ngModel)]="customer_note"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" size="small" fill="outline" shape="round" (click)="decraseItem()">
          <ion-icon color="primary" size="smaller" name="remove-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button strong="true" expand="block" size="small" fill="clear">
          {{quantity}}
        </ion-button>
      </ion-col>
      <ion-col size="5">
        <ion-button expand="block" size="small" fill="outline" shape="round" (click)="incraseItem()">
          <ion-icon color="primary" size="smaller" name="add-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button strong="true" expand="block" fill="outline" shape="round" (click)="registerItem()">
          Adicionar &nbsp; {{total_price | currency:"BRL":"symbol"}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>