<ion-header>
  <ion-toolbar>
    <ion-title>{{company_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12"><b>Pedido&nbsp;{{id_order}} &nbsp;-&nbsp; {{order_status}} &nbsp;-&nbsp; {{order_date}}</b></ion-col>
    </ion-row>
    <ion-row *ngFor="let item of itemsList">
      <ion-col size="6">{{item.item_quantity}}x&nbsp;-&nbsp;{{item.item_product_name}}</ion-col>
      <ion-col size="6" class="ion-text-end">{{item.item_total_price | currency:"BRL":"symbol"}}</ion-col>
    </ion-row>
    <ion-row >
      <!-- <ion-col class="ion-text-start">Data:&nbsp;{{order_date}}</ion-col> -->
      <ion-col class="ion-text-end"><b>Total&nbsp;{{order_total_price | currency:"BRL":"symbol"}}</b></ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-card>
    <ion-item>
      <ion-text>Pedido: <b>{{id_order}}</b> em <b>{{order_date}}</b></ion-text>
    </ion-item>

    <ion-item *ngFor="let item of itemsList">
      <ion-text>{{item.item_quantity | number:0}}x&nbsp;-&nbsp;</ion-text>
      <ion-text>{{item.item_product_name}}&nbsp;-&nbsp;</ion-text>
      <ion-text>{{item.item_total_price | currency:"BRL":"symbol"}}</ion-text>
    </ion-item>

    <ion-item>
      <ion-text>Total: <b>{{order_total_price | currency:"BRL":"symbol"}}</b></ion-text>
      <ion-text>&nbsp;Status: <b>{{order_status}}</b></ion-text>
    </ion-item>
  </ion-card> -->

  <ion-footer>
    <ion-toolbar style="text-align: center;">
      <ion-button size="small" fill="outline" shape="round" (click)="closeOrderDetails()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>Fechar
      </ion-button>
    </ion-toolbar>
  </ion-footer>

</ion-content>
