.top-circle {
    z-index: -1;
    width: 50%;
    height: 200%;
    background: #D0E2FF;
    position: absolute;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
}