<app-header></app-header>
<ion-content fullscreen="true">
  <app-svg></app-svg>
  <div>
    <h4>Cardapios</h4>
  </div>
  <div>
    <ion-label>Nome Cardapio</ion-label>
    <ion-input type="text" [(ngModel)]="catalog_name"></ion-input>
  </div>
  <div>
    <ion-label>Status</ion-label>
    <ion-select cancelText="Cancelar" *ngIf="id_catalog != undefined" [(ngModel)]="catalog_status" disabled="true"
      name="catalog_status" interface="action-sheet">
      <ion-select-option value="A">Ativo</ion-select-option>
      <ion-select-option value="I">Inativo</ion-select-option>
    </ion-select>
    <ion-select cancelText="Cancelar" *ngIf="id_catalog == undefined" [(ngModel)]="catalog_status" name="catalog_status"
      interface="action-sheet">
      <ion-select-option value="A">Ativo</ion-select-option>
      <ion-select-option value="I">Inativo</ion-select-option>
    </ion-select>
  </div>
</ion-content>
<ion-footer>
  <div style="text-align: center;">
    <ion-button fill="outline" shape="round" type="submit" (click)="registerCompanyCatalogs()">
      <ion-icon name="checkmark-circle"></ion-icon>Confirmar
    </ion-button>
    <ion-button fill="outline" shape="round" type="submit" (click)="toolsService.goToPage(this.listPage)">
      <ion-icon name="list"></ion-icon>Listar
    </ion-button>
  </div>
</ion-footer>