<app-header></app-header>
<ion-content>

  <div>

    <ion-item>
      <h4>{{catalog_name}}</h4>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Produto</ion-label>
      <ion-select [(ngModel)]="id_product" name="id_product" interface="alert" placeholder="Selecione o produto">
        <ion-select-option *ngFor="let product of productList" [value]="product.id_product">{{product.product_name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Status</ion-label>
      <ion-select [(ngModel)]="catalog_item_status" name="catalog_item_status" value="A" interface="alert" placeholder="Status do item">
        <ion-select-option value="A">Ativo</ion-select-option>
        <ion-select-option value="I">Inativo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Valor</ion-label>
      <ion-input type="number" [(ngModel)]="catalog_item_price" maxlength="10"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Observacao</ion-label>
      <ion-input maxlength="100" type="text" [(ngModel)]="catalog_item_note"></ion-input>
    </ion-item>

    <div style="text-align: center;">
      <ion-button size="small" fill="outline" shape="round" type="submit" (click)="registerCatalogsItems()">
        <ion-icon name="checkmark-circle"></ion-icon>Confirmar
      </ion-button>
      <ion-button size="small" fill="outline" shape="round" type="submit" (click)="toolsService.goToPage(this.listPage)">
        <ion-icon name="list"></ion-icon>Listar
      </ion-button>
    </div>

  </div>

</ion-content>