<app-header></app-header>
<ion-content>
  
  <ion-text style="text-align: center; font-weight: bold;">
    <p>
    Termos e Condições
    </p>
  </ion-text>
  
  <ion-text style="text-align: center;">
    <p>
    Por favor, leia com atenção os termos e condições. Ao se cadastrar no kioskwide.com.br você ESTÁ DE ACORDO COM AS CONDIÇÕES E TERMOS do Website. Note que a recusa destes Termos do Website impedirá que você faça pedidos de produtos do nosso Website.
    </p>
  </ion-text>
  
  <ion-text style="text-align: center; font-weight: bold;">
    <p>
    1. SERVIÇOS OFERECIDOS
    </p>
  </ion-text>
  
  <ion-text>
    <p>
    1.1Este TERMO se aplica para regular o uso do serviço oferecido pelo kioskwide.com.br aos USUÁRIOS, qual seja, possibilitar a escolha, pelos USUÁRIOS, de RESTAURANTES cadastrados e, via on-line, efetivar solicitações para aquisição (e entrega em domicílio e retirada no local) de gêneros alimentícios fornecidos pelos RESTAURANTES, de acordo com o cardápio disponibilizado, sendo possível, igualmente, aos USUÁRIOS, a efetivação do pagamento do preço dos produtos via on-line.
    </p>
  </ion-text>
  
  <ion-text>
    <p>
    1.2O serviço do kioskwide.com.br consiste, portanto, em aproximar, através do nosso site, os USUÁRIOS e os RESTAURANTES cadastrados, possibilitando que os USUÁRIOS encaminhem, aos RESTAURANTES, pedidos de entrega de gêneros alimentícios, bem como, sendo essa a opção dos USUÁRIOS, receber on-line pagamento do preço dos produtos entregues aos USUÁRIOS pelos RESTAURANTES.
    </p>
  </ion-text>

</ion-content>
