<ion-header titulo="creditcards"></ion-header>

<ion-content class="kw">

  <div class="kw">

    <ion-item class="kw">
      <h4>Cartoes</h4>
    </ion-item>

    <ion-item class="kw">
      <ion-label position="floating">Numero</ion-label>
      <ion-input type="number" [(ngModel)]="numero" value="numero"></ion-input>
    </ion-item>

    <ion-item class="kw">
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="nome_impresso" value="nome_impresso"></ion-input>
    </ion-item>

    <ion-item class="kw">
      <ion-label position="floating">Mes</ion-label>
      <ion-select [(ngModel)]="mes_validade" name="mes_validade" interface="alert" placeholder="Selecione o mes">
        <ion-select-option value="01">01 - Janeiro</ion-select-option>
        <ion-select-option value="02">02 - Feveiro</ion-select-option>
        <ion-select-option value="03">03 - Marco</ion-select-option>
        <ion-select-option value="04">04 - Abril</ion-select-option>
        <ion-select-option value="05">05 - Maio</ion-select-option>
        <ion-select-option value="06">06 - Junho</ion-select-option>
        <ion-select-option value="07">07 - Julho</ion-select-option>
        <ion-select-option value="08">08 - Agosto</ion-select-option>
        <ion-select-option value="09">09 - Setembro</ion-select-option>
        <ion-select-option value="10">10 - Outubro</ion-select-option>
        <ion-select-option value="11">11 - Novembro</ion-select-option>
        <ion-select-option value="12">12 - Dezembro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="kw">
      <ion-label position="floating">Ano</ion-label>
      <ion-select [(ngModel)]="ano_validade" name="ano_validade" interface="alert" placeholder="Selecione o ano">
        <ion-select-option value="2020">2020</ion-select-option>
        <ion-select-option value="2021">2021</ion-select-option>
        <ion-select-option value="2022">2022</ion-select-option>
        <ion-select-option value="2023">2023</ion-select-option>
        <ion-select-option value="2024">2024</ion-select-option>
        <ion-select-option value="2025">2025</ion-select-option>
        <ion-select-option value="2026">2026</ion-select-option>
        <ion-select-option value="2027">2027</ion-select-option>
        <ion-select-option value="2028">2028</ion-select-option>
        <ion-select-option value="2029">2029</ion-select-option>
        <ion-select-option value="2030">2030</ion-select-option>
        <ion-select-option value="2031">2031</ion-select-option>
        <ion-select-option value="2022">2032</ion-select-option>
        <ion-select-option value="2033">2033</ion-select-option>
        <ion-select-option value="2034">2034</ion-select-option>
        <ion-select-option value="2035">2035</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="kw">
      <ion-label position="floating">CVV</ion-label>
      <ion-input type="text" [(ngModel)]="cvv" maxlength="3"></ion-input>
    </ion-item>

    <ion-item class="kw">
      <ion-label position="floating">Bandeira do Cartao</ion-label>
      <ion-select [(ngModel)]="cd_bandeira" name="cd_bandeira" interface="alert" placeholder="Selecione a bandeira">
        <ion-select-option value="1">Visa</ion-select-option>
        <ion-select-option value="2">Mastercard</ion-select-option>
        <ion-select-option value="3">Amex</ion-select-option>
        <ion-select-option value="4">ELO</ion-select-option>
        <ion-select-option value="5">Hiperdcard</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button size="small" expand="block" type="submit" color="dark" (click)="CadCartoes()" *ngIf="cd_cartao == undefined">Confirmar</ion-button>
    <ion-button size="small" expand="block" type="submit" color="dark" (click)="CadCartoes()" *ngIf="cd_cartao != undefined">Salvar</ion-button>
    <ion-button size="small" expand="block" type="submit" color="dark" (click)="ListaCartao()">Listar Cartoes
    </ion-button>
  </div>

</ion-content>
