<app-header titulo="Categoria de Produtos"></app-header>

<ion-content>

  <ion-content class="kw">

    <div class="kw">

      <ion-item class="kw">
        <h4>Grupos de Produtos</h4>
      </ion-item>

      <ion-item class="kw">
        <ion-label position="floating">Nome do Grupo</ion-label>
        <ion-input type="text" [(ngModel)]="product_category_name"></ion-input>
      </ion-item>

      <ion-button size="small" expand="block" type="button" color="dark" (click)="registerProductCategory()"
        *ngIf="cd_grupo_produto == undefined">Confirmar</ion-button>
      <ion-button size="small" expand="block" type="button" color="dark" (click)="registerProductCategory()"
        *ngIf="cd_grupo_produto != undefined">Salvar</ion-button>
      <ion-button size="small" expand="block" type="button" color="dark" (click)="toolsService.goToPage(this.listPage)">Listar
        Grupos</ion-button>

    </div>

  </ion-content>