<app-header></app-header>
<ion-content>
  <div>
    <ion-item>
      <h4>Grupos de Produtos</h4>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nome do Grupo</ion-label>
      <ion-input maxlength="20" type="text" [(ngModel)]="product_category_name"></ion-input>
    </ion-item>
  </div>
  <div style="text-align: center;">
    <ion-button size="small" fill="outline" shape="round" type="button" (click)="registerProductCategory()">
      <ion-icon name="checkmark-circle"></ion-icon>Confirmar
    </ion-button>
    <ion-button size="small" fill="outline" shape="round" type="button" (click)="toolsService.goToPage(this.listPage)">
      <ion-icon name="list"></ion-icon>Listar
    </ion-button>
  </div>
</ion-content>