<app-header></app-header>
<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="circles" refreshingText="Carregando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-item>
    <h4>Cardapios</h4>
  </ion-item>

  <ion-list class="ion-no-padding">
    <ion-item-sliding *ngFor="let catalog of catalogList">
      <ion-item-options side="start">
        <ion-item-option (click)="edit(catalog.id_catalog)">
          <ion-icon name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary" (click)="itemsCatalog(catalog.id_catalog, catalog.catalog_name)">
          <ion-icon name="list"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item (click)="itemsCatalog(catalog.id_catalog, catalog.catalog_name)">
        <ion-label>
          <h2 *ngIf="catalog.catalog_status == 'I'">{{catalog.catalog_name}}</h2>
          <h2 *ngIf="catalog.catalog_status == 'A'"><b>{{catalog.catalog_name}}</b></h2>
          <small *ngIf="catalog.catalog_status == 'I'">Inativo</small>
          <small *ngIf="catalog.catalog_status == 'A'">Ativo</small>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option *ngIf="catalog.catalog_status == 'I'" color="success" (click)="activateCatalog(catalog.id_catalog)">
          <ion-icon name="eye-off"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="delete(catalog.id_catalog)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button size="small" (click)="insert()">
      <ion-icon name="add-circle">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>