<app-header></app-header>
<ion-content>
    <ion-item>
      <h4>Entregadores</h4>
    </ion-item>
    <ion-item>
      <!-- <ion-label position="floating">CPF</ion-label> -->
      <ion-input type="text" maxlength="11" [(ngModel)]="worker_cpf" placeholder="CPF"></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-label position="floating">Nome</ion-label> -->
      <ion-input type="text" maxlength="70" [(ngModel)]="worker_name" placeholder="Nome"></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-label position="floating">Celular</ion-label> -->
      <ion-input type="text" [(ngModel)]="worker_cell_phone" [brmasker]="{phone: true}" placeholder="Celular"></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-label position="floating">Celular Status</ion-label> -->
      <ion-select [(ngModel)]="worker_status" name="worker_status" interface="alert" placeholder="Celular Status">
        <ion-select-option value="A">Ativo</ion-select-option>
        <ion-select-option value="I">Inativo</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <!-- <ion-label position="floating">E-mail</ion-label> -->
      <ion-input type="text" maxlength="100" [(ngModel)]="worker_email" placeholder="E-mail"></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-label position="floating">Senha</ion-label> -->
      <ion-input name="worker_password" [type]="showPassword ? 'text' : 'password'" maxlength="25"
        [(ngModel)]="worker_password" placeholder="Senha">
      </ion-input>
      <ion-icon [name]="(worker_password == 'password') ? 'eye-off' : 'eye'" slot="end" size="small"
        (click)="togglePassword()">
      </ion-icon>
    </ion-item>
    <ion-item>
      <!-- <ion-label position="floating">Confirme a Senha</ion-label> -->
      <ion-input name="worker_confirm_password" [type]="showConfirmPassword ? 'text' : 'password'" maxlength="25"
        [(ngModel)]="worker_confirm_password" placeholder="Confirme a senha">
      </ion-input>
      <ion-icon [name]="(worker_confirm_password == 'password') ? 'eye-off' : 'eye'" slot="end" size="small"
        (click)="toggleConfirmPassword()">
      </ion-icon>
    </ion-item>
</ion-content>
<ion-footer>
  <div style="text-align: center;">
    <ion-button size="small" fill="outline" shape="round" type="submit" (click)="registerWorker()">
      <ion-icon name="checkmark-circle"></ion-icon>Confirmar
    </ion-button>
    <ion-button size="small" fill="outline" shape="round" type="button" (click)="toolsService.goToPage(this.listPage)">
      <ion-icon name="list"></ion-icon>Listar
    </ion-button>
  </div>
</ion-footer>