<app-header></app-header>
<ion-content>
    <div>
      <h4>Entregadores</h4>
    </div>
    <div>
      <ion-label>CPF</ion-label>
      <ion-input type="text" maxlength="11" [(ngModel)]="worker_cpf"></ion-input>
    </div>
    <div>
      <ion-label>Nome</ion-label>
      <ion-input type="text" maxlength="70" [(ngModel)]="worker_name"></ion-input>
    </div>
    <div>
      <ion-label>Celular</ion-label>
      <ion-input type="text" [(ngModel)]="worker_cell_phone" [brmasker]="{phone: true}"></ion-input>
    </div>
    <div>
      <ion-label>Celular Status</ion-label>
      <ion-select [(ngModel)]="worker_status" name="worker_status" interface="action-sheet" cancelText="Cancelar">
        <ion-select-option value="A">Ativo</ion-select-option>
        <ion-select-option value="I">Inativo</ion-select-option>
      </ion-select>
    </div>
    <div>
      <ion-label>E-mail</ion-label>
      <ion-input type="text" maxlength="100" [(ngModel)]="worker_email"></ion-input>
    </div>
    <div>
      <ion-label>Senha</ion-label>
      <ion-input name="worker_password" [type]="showPassword ? 'text' : 'password'" maxlength="25" 
        [(ngModel)]="worker_password">
        <ion-buttons style="position: absolute; right: 3px;" slot="end">
          <ion-button fill="clear" size="small" (click)="togglePassword()">
            <ion-icon [name]="(worker_password == 'password') ? 'eye-off' : 'eye'" slot="end" size="small"
              (click)="togglePassword()">
            </ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-input>
    </div>
    <div>
      <ion-label>Confirme a Senha</ion-label>
      <ion-input name="worker_confirm_password" [type]="showConfirmPassword ? 'text' : 'password'" maxlength="25"
        [(ngModel)]="worker_confirm_password">
        <ion-buttons style="position: absolute; right: 3px;" slot="end">
          <ion-button fill="clear" size="small" (click)="toggleConfirmPassword()">
            <ion-icon [name]="(worker_confirm_password == 'password') ? 'eye-off' : 'eye'" slot="end" size="small">
            </ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-input>
    </div>
</ion-content>
<ion-footer>
  <div style="text-align: center;">
    <ion-button fill="outline" shape="round" type="submit" (click)="registerWorker()">
      <ion-icon name="checkmark-circle"></ion-icon>Confirmar
    </ion-button>
    <ion-button fill="outline" shape="round" type="button" (click)="toolsService.goToPage(this.listPage)">
      <ion-icon name="list"></ion-icon>Listar
    </ion-button>
  </div>
</ion-footer>