<ion-app>
  <ion-menu side="start" menuId="menut" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>KioskWide</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle auto-hide="true" *ngFor="let menu of menuService.menu">
        <ion-item detail="false" lines="none" routerLink="{{menu.url}}">
          <ion-icon slot="start" name="{{menu.icon}}"></ion-icon>
          <ion-label>{{menu.title}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>