<app-header></app-header>
<ion-content fullscreen="true">
  <app-svg></app-svg>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="circles"
      refreshingText="Carregando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row *ngIf="!hasProduct">
      <ion-col size="12">
        <h5>Nenhum produto cadastrado</h5>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="hasProduct">
      <ion-col size="12">
        <h5>Produtos cadastrados</h5>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="hasProduct">
      <ion-col size="12">
        <ion-select placeholder="Filtro por grupo" [(ngModel)]="group_filter" name="group_filter"
          interface="action-sheet" cancelText="Cancelar" (ionChange)="filterGroups()" okText="Ok">
          <ion-select-option *ngFor="let group of groupList" [value]="group">{{group}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="hasProduct" class="ion-no-padding">
    <ion-item-sliding *ngFor="let product of productList">
      <ion-item-options side="start">
        <ion-item-option (click)="edit(product.id_product)">
          <ion-icon name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label>
          <h2>{{product.product_name}}</h2>
          <small>{{product.product_description}}</small>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(product.id_product)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button size="small" (click)="insert()">
      <ion-icon name="add-circle">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>