<app-header></app-header>

<ion-content>
  <ion-slides pager="false" scrollbar="false">

    <ion-slide *ngFor="let group of ShopCartSrc.appCategory">
      <div style="width: 100%;">

        <ion-list>
          <ion-list-header>{{group.name}}</ion-list-header>

          <ion-item (click)="showItem(item)" *ngFor="let item of group.items">
            <ion-thumbnail slot="end">
              <img src="../../../assets/aguacoco.jpg">
            </ion-thumbnail>
            <ion-label>
              <h3>{{item.product_name}}</h3>
              <p>{{item.product_description}}</p>
              <p>{{item.catalog_item_price | currency:"BRL":"symbol"}}</p>
            </ion-label>
          </ion-item>

        </ion-list>
      </div>

    </ion-slide>

  </ion-slides>
</ion-content>