ion-icon {
    color: #3880ff;
}

div {
    padding: 5px;
}

ion-input {
    border-left: solid 1px #3880ff;
    border-bottom: solid 1px #3880ff;
    padding: 20px;
}

.title {
    color: #3880ff;
    text-align: center;
}