<app-header></app-header>
<ion-content>
    <div *ngIf="!authService.getLoginSuccessful()">
        <ion-item>
            <h4>Login</h4>
        </ion-item>
        <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input
                name="password"
                [type]="showPassword ? 'text' : 'password'"
                maxlength="25"
                [(ngModel)]="password">
            </ion-input>
            <ion-icon
              [name]="(password == 'password') ? 'eye-off' : 'eye'"
              slot="end"
              size="small"
              (click)="togglePassword()">
            </ion-icon>
        </ion-item>
        <br>
        <div style="text-align: center;">
            <ion-button size="small" type="submit" fill="outline" shape="round" (click)="login()">
                <ion-icon name="log-in-outline"></ion-icon>Entrar
            </ion-button>
            <ion-button size="small" type="submit" fill="outline" shape="round" (click)="registerProfile()">
                <ion-icon name="add-outline"></ion-icon>Cadastrar
            </ion-button>
            <ion-button size="small" type="submit" fill="outline" shape="round" (click)="recoverPassword()">
                <ion-icon name="lock-open-outline"></ion-icon>Lembrar senha
            </ion-button>
        </div>
    </div>
    <div *ngIf="authService.getLoginSuccessful()">
        <ion-item>
            <ion-label style="text-align: center;color: green;">VOCE ESTA LOGADO!!!!</ion-label>
        </ion-item>
    </div>
</ion-content>