/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.kw {
    //--background: rgb(57,243,57);
    --background: rgb(111, 175, 111);
    //--background-activate: rgb(57,243,57);
    --background-activate: rgb(111, 175, 111);
    --color: black;
    --border-style: solid;
    --border-width: 0.0px;
    --border-height: 0.0px;
    --font-size: 13px;
  }
    
.botao {
    --background: rgb(15, 136, 15);
    --background-activate: rgb(15, 136, 15);
    --background-focused: rgb(15, 136, 15);
    --background-hover: rgb(15, 136, 15);
    --color-activated: black;
    --color: black;
  }

  .cssToast {
    --background: black;
    --color: white;
  }
