<app-header></app-header>
<ion-content fullscreen="true">
  <div class="container">
    <ion-grid>
      <!-- CABECALHO -->
      <ion-row class="ion-text-center">
        <ion-col>Endereço de Entrega</ion-col>
      </ion-row>
      <!-- STEP 1-->
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-searchbar placeholder="Informe o endereço completo" (ionChange)="searchAddress($event)"></ion-searchbar>
        </ion-col>
      </ion-row>
      <!-- STEP 2-->
      <ion-row *ngIf="this.customerAddress.length">
        <ion-col>
          <ion-label>Endereço de entrega</ion-label>
          <ion-textarea style="background-color: white;" placeholder="Local de entrega" [(ngModel)]="customerAddress"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="this.customerAddress.length">
        <ion-col>
          <ion-label>Complemento</ion-label>
          <ion-input placeholder="Ex.: Apto 10 Bloco A"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="this.customerAddress.length" class="ion-text-center">
        <ion-col>
          <ion-button fill="outline" shape="round">Confirmar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list [hidden]="!addressList.length">
      <ion-item *ngFor="let local of addressList" lines="full" (click)="mapTheRoute(local)">
        {{local.description}}
      </ion-item>
    </ion-list>
    <!-- STEP 2-->
  </div>
  <div #map id="map"></div>
</ion-content>
<ion-footer>
  <div class="ion-text-center">
    <ion-text>KioskWide - Todos direitos reservados - 2020</ion-text>
  </div>
</ion-footer>
