<app-header></app-header>
<ion-content fullscreen="true">
  <app-svg></app-svg>
  <div>
    <h4>Produtos</h4>
  </div>
  <ion-label>Grupo de Produto</ion-label>
  <ion-select cancelText="Cancelar" [(ngModel)]="id_product_category" name="id_product_category"
    interface="action-sheet" placeholder="Selecione o grupo">
    <ion-select-option *ngFor="let category of categoryList" [(value)]="category.id_product_category">
      {{category.product_category_name}}
    </ion-select-option>
  </ion-select>
  <div>
    <ion-label>Nome</ion-label>
    <ion-input maxlength="50" type="text" [(ngModel)]="product_name"></ion-input>
  </div>
  <div>
    <ion-label>Descrição</ion-label>
    <ion-input maxlength="150" type="text" [(ngModel)]="product_description"></ion-input>
  </div>
  <ion-card>
    <ion-card-header>Foto</ion-card-header>
    <ion-card-content>
      <img [(src)]="product_picture" *ngIf="product_picture != ''">
      <img src="../../../../assets/aguacoco.jpg" *ngIf="product_picture == ''">
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <div style="text-align: center;">
    <ion-button *ngIf="isMobileDevice" size="small" fill="outline" shape="round" (click)="takePictures()">
      <ion-icon name="camera"></ion-icon>Tirar Foto
    </ion-button>
    <ion-button *ngIf="!isMobileDevice" disabled size="small" fill="outline" shape="round" (click)="takePictures()">
      <ion-icon name="camera"></ion-icon>Selecionar Foto
    </ion-button>
    <ion-button size="small" fill="outline" shape="round" (click)="registerProduct()">
      <ion-icon name="checkmark-circle"></ion-icon>Confirmar
    </ion-button>
    <ion-button size="small" fill="outline" shape="round" (click)="toolsService.goToPage(this.listPage)">
      <ion-icon name="list"></ion-icon>Listar
    </ion-button>
  </div>
</ion-footer>
<!--
  <input type="file" (change)="onFileChange($event)" />
-->